@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(/src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: bolder;
    src: url(/src/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url(/src/assets/fonts/Poppins-SemiBold.ttf);
}